[Unit]
Description=Amazon ECR Login
After=docker.service bootstrap.service
Requires=docker.service
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="IMAGE=etcdctl get /images/ecr-login"
EnvironmentFile=/etc/environment
User=core
ExecStartPre=/usr/bin/sh -c "source /etc/profile.d/etcdctl.sh && docker pull $($IMAGE)"
ExecStartPre=-/usr/bin/docker kill ecr-login
ExecStartPre=-/usr/bin/docker rm -f ecr-login
# ecr-login fetches ECR creds and formats them correctly for .dockercfg
ExecStart=/home/core/ethos-systemd/v1/opt/ecr/util/ecr-login.sh
ExecStop=/usr/bin/docker stop ecr-login

[X-Fleet]
Global=true
MachineMetadata=role=worker
