# https://raw.githubusercontent.com/DataDog/docker-dd-agent/master/dd-agent.service
# make sure the etcd /datadog/config/api-key is set!
[Unit]
Description=Datadog Agent for Mesos slave
After=docker.service bootstrap.service

[Service]
EnvironmentFile=/etc/environment
# CONTROL_ELB should be set in etcd
# It should be run on all mesos slave nodes (worker tier nodes)
# Look at adobeplatform/ethos-dd-agent for what ports those 3 should be running on
Environment="IMAGE=/home/core/ethos-systemd/v1/lib/etcdauth.sh get /images/ethos-dd-agent"
User=core
Restart=always
TimeoutStartSec=0
ExecStartPre=/usr/bin/sh -c "source /etc/profile.d/etcdctl.sh && docker pull $($IMAGE)"
ExecStartPre=-/usr/bin/docker kill dd-agent-worker
ExecStartPre=-/usr/bin/docker rm -f dd-agent-worker
ExecStart=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && sudo -E /usr/bin/docker run --name dd-agent-worker -h `hostname` \
-p 8125:8125/udp \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /proc/:/host/proc/:ro \
-v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
-e API_KEY=`/home/core/ethos-systemd/v1/lib/etcdauth.sh get /datadog/config/api-key` \
-e HOST_IP=`hostname -i` \
-e STACK_NAME=$STACK_NAME \
-e DD_TIER=worker \
$($IMAGE)"
ExecStop=/usr/bin/docker stop dd-agent-worker

[X-Fleet]
Global=true
MachineMetadata=role=worker
