[Unit]
Description=journald to splunk pipe
After=bootstrap.service splunk-journald.service
Wants=splunk-journald.service

[Service]
EnvironmentFile=/etc/splunk.env
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=/usr/bin/systemctl is-active splunk-journald
ExecStart=/home/core/ethos-systemd/v1/util/journald-splunk-pipe.sh

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
