[Unit]
Description=Splunk Forwarder
Requires=docker.service
Before=journald-splunk-pipe.service
After=docker.service bootstrap.service
[Service]
EnvironmentFile=/etc/environment
Environment="IMAGE=etcdctl get /images/splunk"
Environment="INSTANCEHOSTNAME=curl -s http://169.254.169.254/latest/meta-data/hostname"
User=core
Restart=always
TimeoutStartSec=0
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
docker pull $($IMAGE)"
ExecStartPre=-/usr/bin/docker kill splunk-journald
ExecStartPre=-/usr/bin/docker rm -f splunk-journald
ExecStart=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh; fi && \
sudo -E /usr/bin/docker run --name splunk-journald \
-v /opt/splunk/etc/system/local:/var/opt/splunk/etc/system/local \
--hostname=$($INSTANCEHOSTNAME) \
-p 1514:1514/udp \
-p 1515:1515/udp \
-e SPLUNK_START_ARGS="--accept-license" \
$($IMAGE)"
ExecStop=/usr/bin/docker stop splunk-journald
[X-Fleet]
Global=true
