[Unit]
Description=AquaWeb
After=docker.service bootstrap.service
Requires=docker.service

[Service]
TimeoutStartSec=10m
User=core
EnvironmentFile=/etc/environment
Environment="IMAGE=etcdctl get /images/scalock-server"
Environment="SCALOCK_ADMIN_PASSWORD=etcdctl get /aqua/config/password"
Environment="DB_PASSWORD=etcdctl get /environment/RDSPASSWORD"
Environment="DB_USERNAME=etcdctl get /flight-director/config/db-username"
Environment="SCALOCK_DB_NAME=etcdctl get /aqua/config/db-name"
Environment="SCALOCK_DB_ENDPOINT=etcdctl get /aqua/config/db-path"
Environment="SCALOCK_GATEWAY_ENDPOINT=etcdctl get /aqua/config/gateway-host"
Environment="SCALOCK_AUDIT_DB_NAME=etcdctl get /aqua/config/db-audit-name"
Environment="SCALOCK_TOKEN=etcdctl get /aqua/config/aqua-token"

Restart=always
RestartSec=8

ExecStartPre=-/usr/bin/sudo /opt/scalock/slk config --warning=true
ExecStartPre=/usr/bin/systemctl is-active update-os.service
ExecStartPre=/usr/bin/sh -c "docker pull $($IMAGE)"
ExecStartPre=-/usr/bin/docker kill aqua-web
ExecStartPre=-/usr/bin/docker rm aqua-web
ExecStart=/home/core/ethos-systemd/v1/opt/aqua/util/aqua-web.sh
ExecStartPost=/home/core/ethos-systemd/v1/opt/aqua/util/aqua-api.sh
ExecStop=/usr/bin/docker stop aqua-web

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=false
MachineMetadata=role=control
