[Unit]
Description=AquaImage
After=docker.service bootstrap.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment

User=core
Type=oneshot
RemainAfterExit=false

ExecStartPre=/usr/bin/systemctl is-active update-os.service
ExecStartPre=/usr/bin/sh -c "source /etc/profile.d/etcdctl.sh"

ExecStart=/usr/bin/bash -c "source /etc/profile.d/etcdctl.sh && \
/home/core/ethos-systemd/v1/opt/aqua/util/aqua-image.sh"


[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=false
MachineMetadata=role=worker
