[Unit]
Description=AquaAgent
After=docker.service bootstrap.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment="SCALOCK_TOKEN=etcdctl get /aqua/config/aqua-token"
Environment="IMAGE=etcdctl get /images/scalock-agent"
Environment="SCALOCK_GATEWAY_ENDPOINT=etcdctl get /aqua/config/gateway-host"

User=core
Type=oneshot
TimeoutStartSec=10m

ExecStartPre=/usr/bin/systemctl is-active update-os.service
ExecStartPre=/usr/bin/sh -c  "if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
docker pull $($IMAGE)"

ExecStart=/usr/bin/bash -c  "if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
sudo docker run --rm --name aqua-agent \
-e SCALOCK_SERVER=$($SCALOCK_GATEWAY_ENDPOINT) \
-e SCALOCK_TOKEN=$($SCALOCK_TOKEN)  \
-e SILENT=yes  \
-v /var/run/docker.sock:/var/run/docker.sock  $($IMAGE)"

ExecStop=-/usr/bin/docker stop aqua-agent

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=worker


