[Unit]
Description=Booster Control
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
User=core
Restart=on-failure
Environment="IMAGE=etcdctl get /images/booster"

ExecStartPre=/usr/bin/sh -c "/usr/bin/docker pull $($IMAGE)"

# mkdir so `etcdctl ls /booster/nodes` below doesn't fail
ExecStartPre=-/usr/bin/sh -c "etcdctl mkdir /booster/nodes"

# Set our internal hostname minus .ec2.internal so
# ip-123.456.789.123.ec2.internal becomes ip-123.456.789.123 which is what
# inet:gethostname() reports
#
# This is only done for control tier nodes because they're expected to stick
# around and epmd will create a full mesh without explicity registering worker
# nodes
ExecStartPre=/usr/bin/sh -c "etcdctl set /booster/nodes/$(echo %H | cut -d'.' --complement -s -f2-) true"

ExecStartPre=-/usr/bin/docker kill booster
ExecStartPre=-/usr/bin/docker rm booster
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --name booster \
  --net=host \
  -e BOOSTER_NO_PERSISTENCE=$(etcdctl get /booster/config/nopersistence) \
  -e BOOSTER_DB_HOST=$(etcdctl get /flight-director/config/db-path | cut -d: -f1) \
  -e BOOSTER_DB_USER=$(etcdctl get /flight-director/config/db-username) \
  -e BOOSTER_DB_PASSWORD=$(etcdctl get /environment/RDSPASSWORD) \
  -e BOOSTER_STATSD_ADDITIONAL_TAGS=$(etcdctl get /environment/STACK_NAME) \
  -e BOOSTER_DB_DATABASE=booster \
  -e BOOSTER_ROLES=control_tier \
  -e BOOSTER_NODES=$(etcdctl ls /booster/nodes | cut -d'/' --complement -s -f-3 | tr '\n' ',') \
  -e BOOSTER_QUEUE_URI=http://$(etcdctl get /environment/CONTROL_ELB):2043 \
  -e BOOSTER_CLUSTER_SCALE_URI=http://$(etcdctl get /environment/CONTROL_ELB):2043 \
  -e FD_URI=http://$(etcdctl get /environment/CONTROL_ELB):2001 \
  $($IMAGE)"

ExecStop=-/usr/bin/docker stop booster

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=control
