# Force update CoreOS. Should not affect clusters that are being spun up, unless the AMI is
# out of date...in which case the machines will reboot.
# Primarily for machines that are just coming up with an older version of CoreOS. As soon as
# they come up this fleet unit will be launched on them, forcing a reboot.
[Unit]
Description=Skopos
Requires=docker.service
After=docker.service bootstrap.service

[Service]

Restart=on-failure
RestartSec=20
TimeoutStartSec=0
User=root
ExecStart=/home/core/ethos-systemd/v1/util/skopos.sh
StandardOutput=journal+console

#ExecStartPre=/bin/ping -c1 ready.spartan
#ExecStartPre=/bin/ping -c1 leader.mesos

[X-Fleet]
Global=true
MachineMetadata=role=worker
