[Unit]
Description=Splunk Fluentd Forwarder
Requires=docker.service
Before=fluentd@.service
After=docker.service bootstrap.service
[Service]
EnvironmentFile=/etc/environment
Environment="IMAGE=etcdctl get /images/splunk-heavyforwarder"
Environment="INSTANCEHOSTNAME=curl -s http://169.254.169.254/latest/meta-data/hostname"
User=core
Restart=always
TimeoutStartSec=0
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
docker pull $($IMAGE)"
ExecStartPre=-/usr/bin/docker kill splunk-fluentd
ExecStartPre=-/usr/bin/docker rm -f splunk-fluentd
ExecStart=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh; fi && \
sudo -E /usr/bin/docker run --name splunk-fluentd \
-v /opt/splunk-fluentd/etc/system/local:/var/opt/splunk/etc/system/local \
--hostname=$($INSTANCEHOSTNAME) \
-p 9997:9997 \
-p 8089:8089 \
-p 8000:8000 \
-e SPLUNK_START_ARGS="--accept-license" \
-e SPLUNK_CMD='edit user admin -password changedme -role admin -auth admin:changeme' \
$($IMAGE)"
ExecStop=/usr/bin/docker stop splunk-fluentd
[X-Fleet]
Global=false
MachineMetadata=role=logging
MachineMetadata=ip=%i
